# Node Modules  
node_modules/  

# Logs  
logs  
*.log  
npm-debug.log*  

# Environment Variables  
.env  

# Build directories  
dist/  
build/  

# OS specific files  
.DS_Store  
Thumbs.db  

# IDE specific files  
.idea/  
.vscode/  

# Yarn Integrity file  
.yarn-integrity  

# Optional npm cache folder  
.yarn-cache/  

# Compiled source  
*.tsbuildinfo  

# TypeScript cache  
*.tsbuildinfo  

# Coverage directory used by tools like istanbul  
coverage/  

# Next.js build output  
.next/